<div class="container">
    <app-tool-bar (changeSearchInputH)="changeSearchInput($event)"></app-tool-bar>
    <!-- <img src="../../../assets/1645042344_6-fikiwiki-com-p-kartinki-ishchu-rabotu-8.jpg" class="image"> -->
    <img src="../../../assets/Image_search.jpg" [ngClass]="{'image-blur': isBlurred, 'image-normal': !isBlurred}">
    <div class="content">
        <h2>Вакансии:</h2>
        <div class="content-card">
            <app-job-card *ngFor="let card of cardAdds | filterCard:searchInputValue" [card]="card" (jobDeleted)="handleJobDeleted()"></app-job-card>
        </div>
    </div>
</div>
