<app-tool-bar (changeSearchInputH)="changeSearchInput($event)"></app-tool-bar>
<!-- <app-settings *ngIf="isSettingsOpen"></app-settings>
<img src= "../../../../assets/free-icon-settings-503822 (1).png" (click)="toggleSettings()"> -->
<h2>Все вакансии:</h2>
<div class="content">
    <app-job-card *ngFor="let card of cardAdds | filterCard:searchInputValue" [card]="card"></app-job-card>
</div>
<!-- <app-footer></app-footer> -->
<!-- <div class="newJob">
    <app-add-advert *ngIf="isLoggedIn"></app-add-advert>
<div class="content"> -->

