.content{
  margin-left: 50px;
}
.content-card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.container {
  position: relative;
}

.container .image-normal {
  max-width: 100%;
  width: 100%;
  margin: 0, auto;
  filter: blur(0);
  transition: filter 0.5s ease;
}
.container .image-blur {
  max-width: 100%;
  width: 100%;
  margin: 0, auto;
  filter: blur(5px);
  transition: filter 0.5s ease;
}

app-tool-bar {
  position: absolute;
  width: 100%;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
    .content-card {
      grid-template-columns: repeat(1, 1fr);
    }
  }