.settings-container {
    position:absolute;
    width: 15%;
    height: auto;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 2px 2px 10px rgba(0, 0.2, 0, 0.4);
    transition: transform 2ms ease;
    z-index: 2;
  }
  h2{
    cursor: pointer;
    &:hover{
      color: #2980b9;
      transform: scale(1.1);
    }
    margin-top: 20%;
  }
  .settings-container h3 {
    color: #333333;
    cursor: pointer;
    margin-top: 15%;
    &:hover{
      color: #2980b9;
      transform: scale(1.1);
    }
  }
  
  .settings-container ul {
    list-style:none;
    padding: 0;
  }
  
  .settings-container li {
    margin-bottom: 8px;
    cursor: pointer;
    &:hover{
      transform: scale(1.1);
    }
  }
  
  .settings-container a {
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    &:hover{
      color: #2980b9;
    }
  }
  