<div class="card">
  <div class="card-content">
    <h2>{{card.nameWork}}</h2>
    <img src="../../../../assets/free-icon-edit-1159633.png" *ngIf="user.id===card.userId" class="edit-icon" (click)="submitEdit()">
    <p>Компания: {{card.company}}</p>
    <p>Зарплата: {{card.salary}}</p>
    <p>Город: {{card.city}}</p>
    <p *ngIf="card.additionalInformation === null">Описание: отсутствует</p>
    <p *ngIf="card.additionalInformation !== null">Описание: {{card.additionalInformation}}</p>
    <ng-container *ngIf="user.id!==card.userId">
      <a class="cta-button" *ngIf="!isResponse" (click)="submitResponse()">Откликнуться</a>
      <a class="response-button" *ngIf="isResponse">Вы уже откликнулись</a>
    </ng-container>
    <a *ngIf="user.id===card.userId" class="delete-button" (click)="deleteJob()">Удалить</a>
  </div>
</div>